
<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
	{{ partial "head.html" . }}
	{{ template "_internal/google_analytics.html" . }}
	</head>
	<body>
		<div class="container">	
				{{ partial "header.html" . }}
			<div class="main">
				<div class="jumbotron">
  <h1 class="display-4">Welcome. Have at it ;-)</h1>
  <p class="lead">Research Computing at the University of Virginia provides computational, scientific programming, and data analysis workshops which are held in-person and listed on the <a href="https://data.library.virginia.edu/training/" target="_new"><b>Research Data Services + Sciences Workshop Calendar</b></a>. This site compiles RC workshop materials and organizes narrative walk-throughs with interactive exercises for students to review or study at their own pace.
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-success btn-lg" style="margin-right:2rem;margin-bottom:2rem;" href="/lesson" role="button">BROWSE LESSONS</a>
    <a class="btn btn-success btn-lg" href="/about/#upcoming-workshops" role="button">UPCOMING WORKSHOPS</a>
  </p>
</div>
				{{ partial "footer.html" . }}
			</div>
		</div>
	</body>
</html> 
