
<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
	{{ partial "head.html" . }}
	{{ template "_internal/google_analytics.html" . }}
	</head>
	<body>
		<div class="container">	
				{{ partial "header.html" . }}
			<div class="main">
				<div class="jumbotron">
  <h1 class="display-4">Welcome. Have at it ;)</h1>
  <p class="lead">UVa School of Medicine Research Computing (<a href="https://somrc.virginia.edu/">SOMRC</a>) at the University of Virginia provides scientific programming and data analysis workshops, which are held in-person and listed via <a href="https://education.cadre.virginia.edu">CADRE Academy</a>. This site compiles SOMRC workshop materials and organizes narrative walk-throughs with interactive exercises for students to review or study at their own pace.
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-success btn-lg" href="/lesson" role="button">BROWSE LESSONS</a>
  </p>
</div>
				{{ partial "footer.html" . }}
			</div>
		</div>
	</body>
</html> 
