
<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
	{{ partial "head.html" . }}
	{{ template "_internal/google_analytics.html" . }}
	</head>
	<body>
		<div class="container">	
				{{ partial "header.html" . }}
			<div class="main">
				<div class="jumbotron">
  <h1 class="display-4">Welcome to UVA's Research Computing Learning Portal</h1>
  <p class="lead">Research Computing at the University of Virginia provides computational, scientific programming, and data analysis workshops, many of which are offered in partnership with the <a href="https://data.library.virginia.edu/training/" target="_new"><b>UVA Library Research Data Services</b></a> and <a href="https://cal.hsl.virginia.edu/calendar/data/?cid=-1&t=g&d=0000-00-00&cal=-1" target="_new"><b>UVA Health Sciences Library</b></a> websites. This site compiles RC workshop and tutorial materials as well as interactive exercises for students to review or study at their own pace.
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-success btn-lg" style="margin-right:2rem;margin-bottom:2rem;" href="/lesson" role="button">BROWSE LESSONS</a>
    <a class="btn btn-success btn-lg" style="margin-right:2rem;margin-bottom:2rem;" href="https://rc.virginia.edu/education/workshops/#upcoming-workshops" target="_new" role="button">UPCOMING WORKSHOPS</a>
  </p>
</div>
				{{ partial "footer.html" . }}
			</div>
		</div>
	</body>
</html> 
