
{{ define "main" }}
  {{- if eq .Kind "taxonomy" }}
  <div class="breadcrumb">
    <a href="{{ "/" | relURL }}{{ .Data.Plural | urlize }}/">Topics</a> / {{ .Data.Term | humanize | upper }}
  </div>
  {{- else if eq .Kind "section" }}
  <div class="breadcrumb">
    {{ .Title }}
  </div>
  {{- end }}
  <div class="main" role="main">
  <section class="list {{ .Kind }}-list">
  <table class="table">
    <thead>
      <tr>
        <th style = "width:40%;" scope="col"><h3>Lesson</h3></th>
        <th style="width:40%;" scope="col"><h3>Topic</h3></th>
        <th style="width:20%;" scope="col"><h3>Length</h3></th>
      </tr>
    </thead>
    <tbody>
      
    {{ range (.Paginate (.Pages.ByWeight)).Pages -}}

      <tr>
        <td>
            <h5><a href="{{ .Permalink | relURL }}"> {{ .Title }}</h5>
        </td>
        <td>
          {{ range .Params.categories }}
          <a href="{{ "/" | relURL }}categories/{{ . | urlize }}/" class="article-subtitle">
           <h5><i class="fas fa-folder"></i>
              {{ . | upper}}
            </h5>
          </a>
        {{ end }}
        </td>
        <td>
          <h5>
          <i class="fas fa-clock "> </i><em>  {{ .ReadingTime }} MIN READ</em>
          </h5>
        </td>
      </tr>
          </tbody>
            {{- end }}
    </table>
    </section>
    {{ template "_internal/pagination.html" . }}
  </div>
  
{{ end }}
