{{ define "main" }}
  {{ $data := .Data }}
  <div class="breadcrumb">
    Topics
  </div>
  <div class="main" role="main">


	    <!--<ul id="og-grid" class="og-grid">-->
			
			<ul class="list-group">
		{{- range .Data.Terms.ByWeight }}
		
		<h3><a href="{{ "/" | relURL }}{{ $data.Plural | urlize }}/{{ .Name | urlize }}/">
		 <li class="list-group-item d-flex justify-content-between align-items-center"> <i class="fas fa-folder"></i> {{ .Name | humanize | upper}}
		 <span class="badge badge-primary badge-pill" style="font-size:75%">{{ .Count }}</span>
  </li>
  </a>
  </h3>
			   {{ end }}
					
		</ul>    
{{ end }}
